MusicApp/MusicApp.xcodeproj/project.xcworkspace/xcuserdata/coderchris.xcuserdatad/UserInterfaceState.xcuserstate
MusicApp/MusicApp.xcodeproj/project.xcworkspace/xcuserdata/coderchris.xcuserdatad/WorkspaceSettings.xcsettings
MusicApp/MusicApp.xcodeproj/xcuserdata/coderchris.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
MusicApp/MusicApp.xcodeproj/xcuserdata/coderchris.xcuserdatad/xcschemes/MusicApp.xcscheme
MusicApp/MusicApp.xcodeproj/xcuserdata/coderchris.xcuserdatad/xcschemes/xcschememanagement.plist
